#app-container{
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  margin-left: 75px;
  margin-right: 75px;
}

#main-content {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media screen and (min-width : 1000px) {
  #app-container {
    margin-left: 200px;
    margin-right: 200px;
  }
}