#contacts {
  padding-top: 50px;
  display: flex;
  gap: 50px;
  padding-bottom: 150px;
}


.contact {
  width: 150px;
  height: 150px;
}

@media screen and (max-width : 376px) {
  #contacts {
    flex-direction: column;
    align-items: center;
  }
}