#education-container {
  padding-bottom: 50px;
}

#school-name {
  padding-top: 20px;
  padding-bottom: 20px;
}

#umass {
  font-size: 40px;
  font-weight: 700;
}

#education {
  display: flex;
  font-size: 20px;
}

#degree {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#courses {
  display: flex;
  flex-direction: column;
}

#classes {
  font-size: 20px;
  display: flex;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

@media screen and (max-width : 376px) {
  #classes {
    flex-direction: column;
  }
}


ul li { padding: 5px 0px; }